In [64]:
#Libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from os import listdir, chdir

### Carga dos dados

In [2]:
chdir('../input')
files = listdir()

df_train = pd.read_csv(files[0])
df_test = pd.read_csv(files[1])

In [3]:
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

### AnÃ¡lise exploratÃ³ria

In [5]:
#DimensÃ£o
df_train.shape

(1460, 81)

In [6]:
#Tipos de variÃ¡veis
set(df_train.dtypes)

{dtype('int64'), dtype('float64'), dtype('O')}

In [82]:
#VariÃ¡veis categÃ³ricas
cat_vars = df_train.select_dtypes(include="object").columns

In [97]:
#Cardinalidade
card_cat_vars = df_train[cat_vars].nunique().sort_values()
card_cat_vars

Street            2
Alley             2
CentralAir        2
Utilities         2
LandSlope         3
PoolQC            3
PavedDrive        3
GarageFinish      3
BsmtQual          4
ExterQual         4
MasVnrType        4
KitchenQual       4
BsmtCond          4
BsmtExposure      4
Fence             4
MiscFeature       4
LandContour       4
LotShape          4
FireplaceQu       5
Electrical        5
HeatingQC         5
GarageQual        5
GarageCond        5
MSZoning          5
LotConfig         5
BldgType          5
ExterCond         5
BsmtFinType1      6
RoofStyle         6
GarageType        6
Foundation        6
Heating           6
BsmtFinType2      6
SaleCondition     6
Functional        7
RoofMatl          8
HouseStyle        8
Condition2        8
SaleType          9
Condition1        9
Exterior1st      15
Exterior2nd      16
Neighborhood     25
dtype: int64

In [7]:
#VariÃ¡veis missing
train_missing = df_train.isnull().sum()
print(train_missing[train_missing > 0])

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [8]:
df_train[train_missing[train_missing > 0].index].dtypes

LotFrontage     float64
Alley            object
MasVnrType       object
MasVnrArea      float64
BsmtQual         object
BsmtCond         object
BsmtExposure     object
BsmtFinType1     object
BsmtFinType2     object
Electrical       object
FireplaceQu      object
GarageType       object
GarageYrBlt     float64
GarageFinish     object
GarageQual       object
GarageCond       object
PoolQC           object
Fence            object
MiscFeature      object
dtype: object

In [9]:
# VariÃ¡veis numÃ©ricas com valores missing
df_train[train_missing[train_missing > 0].index].describe(exclude='object')

       LotFrontage   MasVnrArea  GarageYrBlt
count  1201.000000  1452.000000  1379.000000
mean     70.049958   103.685262  1978.506164
std      24.284752   181.066207    24.689725
min      21.000000     0.000000  1900.000000
25%      59.000000     0.000000  1961.000000
50%      69.000000     0.000000  1980.000000
75%      80.000000   166.000000  2002.000000
max     313.000000  1600.000000  2010.000000

* **LotFrontage**: A maioria dos valores preenchidos estÃ£o prÃ³ximos da mÃ©dia e mediana. Os valores NA serÃ£o imputados pela mÃ©dia
* **MasVnrArea**: A mÃ©dia estÃ¡ bem distante da mediana, sugerindo que a maioria das casas possui MasVnrArea igual a zero. Entretanto, por se tratar de apenas 8 registros, optei por **excluir** as linhas em que este valor Ã© NA
* **GarageYrBlt**: O valor numÃ©rico representando o ano em que a garagem foi construÃ­da. Entretanto, hÃ¡ uma relaÃ§Ã£o de valores NA entre as cinco variÃ¡veis Garage(Type, YrBlt, Finish, Qual, Cond). Optei por criar uma nova variÃ¡vel binÃ¡ria representando se a casa possui garagem (1) ou nÃ£o (0), verificando se GarageYrBlt Ã© NA

In [10]:
# Cardinalidade das variÃ¡veis categÃ³ricas com valores missing
df_train[train_missing[train_missing > 0].index].select_dtypes(include='object').nunique(dropna=False)

Alley           3
MasVnrType      5
BsmtQual        5
BsmtCond        5
BsmtExposure    5
BsmtFinType1    7
BsmtFinType2    7
Electrical      6
FireplaceQu     6
GarageType      7
GarageFinish    4
GarageQual      6
GarageCond      6
PoolQC          4
Fence           5
MiscFeature     5
dtype: int64

Essas variÃ¡veis categÃ³ricas possuem baixa cardinalidade, mesmo considerando valores NA.
Eu pretendo imputar um valor constante 0 em NA e aplicar LabelEncoding nessas variÃ¡veis

TODO: Continuar daqui
* Observar as variÃ¡veis categÃ³ricas, quais valores Ãºnicos estÃ£o presentes
        + GarageFinish, alÃ©m de possuir valores NA, tambÃ©m possui valores "Unf", que podem sugerir o nÃ£o acabamento da garagem

In [30]:
df_train.filter(like='Garage').head(10)

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
0,Attchd,2003.0,RFn,2,548,TA,TA
1,Attchd,1976.0,RFn,2,460,TA,TA
2,Attchd,2001.0,RFn,2,608,TA,TA
3,Detchd,1998.0,Unf,3,642,TA,TA
4,Attchd,2000.0,RFn,3,836,TA,TA
5,Attchd,1993.0,Unf,2,480,TA,TA
6,Attchd,2004.0,RFn,2,636,TA,TA
7,Attchd,1973.0,RFn,2,484,TA,TA
8,Detchd,1931.0,Unf,2,468,Fa,TA
9,Attchd,1939.0,RFn,1,205,Gd,TA

In [81]:
for col in df_train.filter(like='Garage', axis=1).select_dtypes(include='object').columns:
    print(df_train.fillna('NA')\
          .groupby(col)['SalePrice']\
          .agg({'Mean': np.mean,
                "Occur": pd.Series.count}))

                     Mean  Occur
GarageType
2Types      151283.333333      6
Attchd      202892.656322    870
Basment     160570.684211     19
BuiltIn     254751.738636     88
CarPort     109962.111111      9
Detchd      134091.162791    387
NA          103317.283951     81
                       Mean  Occur
GarageFinish
Fin           240052.690341    352
NA            103317.283951     81
RFn           202068.869668    422
Unf           142156.423140    605
                     Mean  Occur
GarageQual
Ex          241000.000000      3
Fa          123573.354167     48
Gd          215860.714286     14
NA          103317.283951     81
Po          100166.666667      3
TA          187489.836003   1311
                     Mean  Occur
GarageCond
Ex          124000.000000      2
Fa          114654.028571     35
Gd          179930.000000      9
NA          103317.283951     81
Po          108500.000000      7
TA          187885.735294   1326

/home/gustavo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

Com exceÃ§Ã£o de GarageFinish, nÃ£o hÃ¡ amostras suficientes de todas ocorrÃªncias de Garage para determinar precisamente uma hierarquia de valores categÃ³ricos.

Casas com Garagen NA possuem, em mÃ©dia, baixo valor. PorÃ©m, para utilizar essa mÃ©trica, serÃ¡ necessÃ¡rio tratar as ocorrÃªncias NA nas variÃ¡veis numÃ©ricas GarageYrBlt, GarageCars e GarageArea.

Abordagens escolhidas:

*

In [34]:
#VariÃ¡veis por tipo
df_train_int64_cols = pd.Series([col for col in df_train if df_train[col].dtype == 'int64'])
df_train_float64_cols = pd.Series([col for col in df_train if df_train[col].dtype == 'float64'])
df_train_O_cols = pd.Series([col for col in df_train if df_train[col].dtype == 'O'])

In [40]:
df_train[df_train_int64_cols].describe()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,10516.828082,6.099315,5.575342,1971.267808,1984.865753,443.639726,46.549315,567.240411,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,9981.264932,1.382997,1.112799,30.202904,20.645407,456.098091,161.319273,441.866955,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,223.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,383.500000,0.000000,477.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,712.250000,0.000000,808.000000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,5644.000000,1474.000000,2336.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [66]:
df_train[df_train_float64_cols].describe()

       LotFrontage   MasVnrArea  GarageYrBlt
count  1201.000000  1452.000000  1379.000000
mean     70.049958   103.685262  1978.506164
std      24.284752   181.066207    24.689725
min      21.000000     0.000000  1900.000000
25%      59.000000     0.000000  1961.000000
50%      69.000000     0.000000  1980.000000
75%      80.000000   166.000000  2002.000000
max     313.000000  1600.000000  2010.000000

In [67]:
df_train[df_train_O_cols].describe()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198