In [1]:
import pandas as pd

In [25]:
#Carregando datasets
data = pd.concat([pd.read_csv('../input/projeto4_telecom_treino.csv'),
                  pd.read_csv('../input/projeto4_telecom_teste.csv')],
                axis=0, ignore_index=False)

In [31]:
#Churn por estado
data.groupby(['state','churn']).churn.count()

state  churn
AK     no        67
       yes        5
AL     no       111
       yes       13
AR     no        76
       yes       16
AZ     no        80
       yes        9
CA     no        38
       yes       14
CO     no        85
       yes       11
CT     no        83
       yes       16
DC     no        79
       yes        9
DE     no        79
       yes       15
FL     no        78
       yes       12
GA     no        73
       yes       10
HI     no        81
       yes        5
IA     no        61
       yes        8
ID     no       105
       yes       14
IL     no        81
       yes        7
               ...
OK     no        74
       yes       16
OR     no        96
       yes       18
PA     no        69
       yes        8
RI     no        92
       yes        7
SC     no        75
       yes       16
SD     no        73
       yes       12
TN     no        75
       yes       14
TX     no        90
       yes       26
UT     no        96
       yes       16
VA     no       112
       yes        6
VT     no        91
       yes       10
WA     no        74
       yes       24
WI     no        98
       yes        8
WV     no       136
       yes       22
WY     no       104
       yes       11
Name: churn, Length: 102, dtype: int64

In [35]:
#Account length por estado e churn
data.groupby(['state', 'churn'])['account_length'].mean()

state  churn
AK     no        97.716418
       yes      120.400000
AL     no        97.180180
       yes       92.307692
AR     no        95.789474
       yes       95.437500
AZ     no       104.325000
       yes       99.333333
CA     no        99.605263
       yes      103.000000
CO     no        95.705882
       yes      118.727273
CT     no        98.144578
       yes       87.375000
DC     no       103.417722
       yes       87.555556
DE     no        95.227848
       yes      105.400000
FL     no       111.743590
       yes      115.666667
GA     no       100.616438
       yes       98.100000
HI     no       102.555556
       yes       89.200000
IA     no        94.393443
       yes       99.125000
ID     no        98.390476
       yes      101.928571
IL     no        99.950617
       yes       96.428571
                   ...
OK     no       106.013514
       yes       94.812500
OR     no       100.229167
       yes      106.777778
PA     no       104.101449
       yes       97.250000
RI     no       100.402174
       yes      113.714286
SC     no        95.253333
       yes      108.437500
SD     no       105.273973
       yes       96.000000
TN     no        98.346667
       yes      107.071429
TX     no        96.733333
       yes       99.461538
UT     no        98.385417
       yes      102.937500
VA     no       105.214286
       yes       84.166667
VT     no       103.901099
       yes      105.300000
WA     no        98.743243
       yes      106.375000
WI     no        98.346939
       yes      107.000000
WV     no        95.573529
       yes      108.545455
WY     no        98.153846
       yes      110.090909
Name: account_length, Length: 102, dtype: float64

In [36]:
#Revenue por estado
data['revenue'] = data.total_day_charge + data.total_eve_charge + data.total_night_charge + data.total_intl_charge
data.groupby('state').revenue.sum()

state
AK    4209.05
AL    7491.72
AR    5388.77
AZ    5172.95
CA    2996.61
CO    5615.43
CT    5826.45
DC    5144.25
DE    5723.59
FL    5366.22
GA    4918.72
HI    5055.73
IA    4053.52
ID    7083.60
IL    5066.25
IN    5999.01
KS    6168.06
KY    5877.52
LA    4738.15
MA    6240.87
MD    6224.41
ME    6220.35
MI    6072.17
MN    7461.89
MO    5410.63
MS    5840.78
MT    5870.99
NC    5408.33
ND    5295.69
NE    5132.08
NH    5630.99
NJ    6879.65
NM    5366.52
NV    5408.20
NY    6697.30
OH    7020.20
OK    5425.44
OR    6780.15
PA    4639.43
RI    5872.67
SC    5318.51
SD    5121.29
TN    5305.41
TX    6985.07
UT    6749.22
VA    7028.69
VT    6106.28
WA    5854.01
WI    6149.87
WV    9192.18
WY    6859.72
Name: revenue, dtype: float64